/*
レスポンシブ対応
*/
.navigation ul li:hover > ul{display:none !important;}

/* 画面サイズ1024px以上(PC) */
body{
    position: relative;
    margin: 20px;
    background: #231816;
    font-family: 'Noto Sans Japanese', sans-serif;
}
#contents {
    overflow: hidden;
    width: 100%;
}
.btn {/* 共通ボタンクラス */
    display: block;
    height: 40px;
    margin: 5px auto;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
#Q2, #Q3, #Q4, #Q5, #Q6, #Q7, #Q8, #Q9, #Q10, #Q11, #Q12, #Q13, #Q14, #Q15, #Q16, #Q17, #Q18, #Q19, #Q20, #Q21, #Q22, #Q23, #Q24, #Q25, #Q26, #Q27, #Q28, #Q29, #Q30, #prev, #submit, #mailForm {
    display: none;
}
.spNone {
    display:none;
}
.imgBox{
    display: none;
}
#wrapper {
    position: relative;
    width: 90%;
    margin: -12px auto 0 auto;
    overflow: hidden;
}
#top h1{
    display: block;
    width: 100%;
    height: 97px;
    margin: 30px auto 0 auto;
    font-size: 50px;
    text-align: center;
    color: white;
}
h2 {
    width: 100%;
    height: 100px;
    line-height: normal;
    margin: 15px auto;
    text-align: center;
    color: #efcab5;
}
h5 {
    width: 100%;
    height: 15px;
    margin: 13px auto;
    font-size: 18px;
    text-align: center;
    color: yellow;
}
#goukakugo {
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    color: white;
}
#quiz,#mail,#service{
    background: #231816 url(../images/common/bg.gif) 0 0 repeat-x;;
}
#header h1 a{
    display: block;
    width: 100%;
    height: 60px;
    margin: 15px auto;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
	text-decoration: none;
    color: white;
}
ol { 
    list-style-type: decimal; 
}
#serviceBtn {
    width:80%;
    background-color: orange;
	text-decoration: none;
    color: white;
}
#serviceBtnArea {
    text-align: center;
}
.quizArea {
    width: 95%;
    margin: 8px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #fff;
}
.quizArea img {
    float: left;
    margin: 20px;
}
#footer p{
    margin-left:auto;
    margin-right:auto;
    font-size: 15px;
    margin: 10px auto;
    width: 100%;
    text-align: center;
}
.quizText {
    float: left;
    padding: 50px 15px 0 20px;
}
.quizArea .answerText {
    clear: both;
    padding: 30px 10px 0 42px;
}
table tr th {
    padding: 0 15px;
}
table tr td {
    padding: 0 15px 0 0;
    vertical-align: top;
}
.answerBtn {
	position: relative;
    display: block;
    height: 65px;
    width: 95%;
    margin: 15px auto;
    text-align: center;
	white-space: nowrap;
}
.answerBtn a {
    display: inline-block;
	position: relative;
    width: 2%;
    height: 60px;
    margin: 0 7px;
    padding: 3px 10%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    border-radius: 6px;
    background-color: white;
}
.answerBtn a.current {
    background-color: #d3381c;
    color: #fff;
} 
#controller {
    width: 95%;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
}
#controller a{
    padding: 10px 0;
}   
#controller a#prev {
    padding-left: 20px;
    float: left;
    text-decoration: none;
}
#controller a#next {
    padding-right: 20px;
    float: right;
    text-decoration: none;
}
.quizArea p.lead {
    padding: 15px 15px 0 15px;
    font-size: 90%;
}
#submit2{
    width: 95%;
    margin: 15px auto;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 6px;
    background: #fff;
} 
#submit2 p{
	margin: 10px auto 20px auto;
	font-size: 20px;
}
#submitAnswer {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
    text-decoration: none;
    font-size: 30px;
    background: -moz-linear-gradient(top, #8c8c8c, #727272);
    background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
    color: #fff;
    font-weight: bold;
}
#submit {
    display: none;
    width: 95%;
    margin: 50px auto 30px auto;
    border-radius: 6px;
    overflow: hidden;
} 
#submitBtn {
    display: block;
	width: 94%;
	height: 50px;
    margin: 50px auto 30px auto;
	text-align: center;
	background: -moz-linear-gradient(top, #8c8c8c, #727272);
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	color: #fff;
}
#top #submitBtn{
	width: 80%;
    margin: 20px auto 30px auto;
}
#submitBtn4 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    background: -moz-linear-gradient(top, #d71619, #b02100);
    background: -webkit-gradient(linear, left top, left bottom, from(#d71619), to(#b02100));
    text-decoration: none;
    color: #fff;
}
input {
    border-radius: 3px;
    font-size: 19px;
    line-height: 150%;
    border: 1px solid #696969;
}
select {
    border-radius: 3px;
    font-size: 19px;
    line-height: 150%;
}
#usecaseImg {
    width: 100%;
    height: 100%;
}
#ninteishoImg{
    width: 90%;
    height: 100%;
    text-align: center;
    border:3px solid #B02100;
} 
#ninteisyo{
    display: block;
    width: 80%;
    margin: 10px auto;
} 
#footer {
    color: #FFFFFF;
    text-align: center;
}
.serviceArea {
	display: block;
	width: 70%;
	background: #fff;
	border-radius: 6px;
	padding: 25px 50px 26px 50px;
	margin: 0 auto 40px auto;
}
#tenpo {
	font-size: 14px;
	color: white;
	line-height: 26px;
}
.serviceArea table tr th {
	width: 150px;
	padding: 25px 0 0 0;
	border-bottom: solid 2px #332621;
}
.serviceArea table tr td {
	width: 70%;
	padding: 20px 0 0 0;
	vertical-align: top;
	border-bottom: solid 2px #332621;
}
p.serviceLittleArea {
	width: 70%;
	background: #faf6da;
	border-radius: 6px;
	padding: 30px 30px 30px 24px;
	margin-top: 30px;
}	
a.serviceLink	{
	color: #A00;
}	
#service #submitBtn{
	display: block;
	width: 75%;
	margin: 0 auto 40px auto;
	padding: 0 20px;
	background: -moz-linear-gradient(top, #8c8c8c, #727272);
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	font-size: 25px;
	text-align: center;
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,1);
    border-radius: 6px;
}

/**********************************************************************/
/**********************************************************************/
 
/* 画面サイズ820px以下 */
@media only screen and (max-width:820px){
    .spNone {
        display:block;
    }
    #footer {
        width: 100%;
        height: 80px;
        text-align: center;
    }
    #quiz,#mail,#service{
		-moz-background-size:100% 80px;
		background-size:100% 80px;
	}
    h2 {
    	height: 200px;
        font-size: 30px;
   		line-height: 150%;
    }
    #quiz h2, #mail h2 {
    	height: 100px;
        font-size: 25px;
    }
    #quiz #total, #QuizAmount{
        font-size: 20px;
        line-height: 5px;
    }
    #goukakugo {
        padding: 20px;
        font-size: 25px;
    }
    #submitBtn {
    	width: 96%;
    	height: 90px;
    	margin: 40px auto;
        font-size: 40px;
		line-height: 90px;
    }
    #header h1 a{
    	font-size: 30px;
    	margin: 30px auto;
        line-height: 10px;
    }
    #serviceBtn {
    	height: 80px;
    	margin: 20px auto;
        font-size: 25px;
        font-weight: bold;
		line-height: 80px;
    }
    #submit2 p{
        margin: 15px auto;
    }
    #submitBtn4 {
		height: 50px;
		width: 100%;
		line-height: 50px;
	}
	.quizText {
    	width: 200%;
    	margin: 260px 30px 30px -315px;
        font-size: 30px;
    }
    .quizArea .answerText {
        width: 95%;
        padding: 5px;
        font-size: 30px;        
    }
    .text-red2{
    	font-size: 30px;
    }
    .text-choices{
    	font-size: 28px;
    }
    .answerBtn {
        height: 140px;
    }
    .answerBtn a {
        width: 20%;
        height: 100px;
        margin: 20px 12px;
        padding: 0;
        text-align: center;
		line-height: 100px;
    }  
    .quizArea p.lead {
        padding: 15px 15px 0 15px;
        font-size: 90%;
    }
    #ninteisyo{
        display: none;
    }
	#ninteishoImg{
	    width: 90%;
	    height: 350px;
	} 
    #usecaseImg {
        height: 400px;
        margin: 5px auto;
    }
    .imgBox{
        display: block;
		width: 80%;
		margin: 5px auto;
        font-size: 100%;
		border: groove 2px;
    }
    #sample{
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
    }
    #kokoroe{
        display: block;
        width: 90%;
        height: auto;
        margin: 10px auto 25px auto;
    }  
    #service h2 {
    	height: 70px;
        font-size: 30px;
   		line-height: 150%;
    }
    p.serviceLittleArea {
        width: 90%;
    }
    #footer p{
        font-size: 30px;
        margin: 10px auto;
    }
}
 