@charset "UTF-8";
/* ------------------------------------- 
 *  reset css
 * ------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
	font-size: 19px;
	line-height: 150%;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

input,
button {
  border: none;
}


/* ------------------------------------- 
 *  common css
 * ------------------------------------- */

html {
}
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', meiryo, Verdana, "lr oSVbN";
}

/* 段落タグ ---------------------------- */
p {
	margin: 0 0 24px;
	font-size: 19px;
	line-height: 150%;
}
/* 見出しタグ -------------------------- */
h1 {
}
h2 {
	line-height: 22px;
	font-weight: bold;
	font-size: 22px;
	color: #efcab5;
}
h2 span#total {
	font-weight: bold;
	font-size: 14px;
	color: #9d948c;
}
h3 {
	border-bottom: 1px solid #0f7cc1;
	margin: 0 0 15px;
}
h4 {
	border-left: 6px solid #0f7cc1;
	padding-left: 7px;
}
h5 {
}
h6 {
}

/* リストタグ -------------------------- */
ul {
  list-style: none;
}
li {
  list-style: none;
}
ol {
  list-style: none;
}

/* リンクタグ -------------------------- */
a {
}
a:link {
  text-decoration: underline;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:active {
  border: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #000000;
  color: #900;
}

/* イメージタグ ------------------------ */
img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
  line-height: 100%;
}
.nomargin {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* アクセント ---------------------------- */
.accent-red {
  color: #FF0000;
  font-weight: bold;
}
.text-black {
  color: #191919;
}
.text-red {
  color: #FF0000;
}
.text-red2 {
  color: #AA0000;
}
.text-red3 {
  color: #6a1400;
}
.text-orange {
  color: #FFA200;
}
.text-blue {
  color: #0f7cc1;
}
.text-water {
  color: #33CCFF;
}
.text-yellow {
  color: #FFDD00;
}
.text-gray {
  color: #696969;
}
.text-white {
  color: #FFFFFF;
}
.text-light {
  color: #AFAFAF;
}
.weight-normal {
  font-weight: normal;
}
.large1 {
  font-size: 1.125em;
}
.large2 {
  font-size: 1.25em;
}
.large3 {
  font-size: 2em !important;
}
.small1 {
  font-size: 0.625em;
}
.small2 {
  font-size: 0.6725em;
}
.small3 {
  font-size: 0.725em;
	font-weight: normal;
}
.small4 {
  font-size: 0.75em;
}
.small5 {
  font-size: 0.833em;
}
.small6 {
  font-size: 0.8125em;
}
.small7 {
  font-size: 0.923em;
}

/* パネル ---------------------------- */

/* スクリーン ---------------------------- */

/* ナビゲーション ---------------------------- */

/* サブナビゲーション ---------------------------- */

/* サイト内検索フォーム、カテゴライズ ---------------------------- */

/* サイト内検索フォーム、カテゴライズ white-space */

/* サイト内検索フォーム、カテゴライズ 要素 */

/* pageswitch -------------------------- */

/* tooltip -------------------------- */

/* padding（spacer -------------------------- */
.padding6 {
  padding: 0px 6px 0px 6px;
  cursor: default;
}
.padding12 {
  padding: 0px 12px 0px 12px;
  cursor: default;
}
.padding18 {
  padding: 0px 18px 0px 18px;
  cursor: default;
}

/* spacer -------------------------- */
.spacer1, .spacer5, .spacer15, .spacer10, .spacer20, .spacer30, .spacer40, .spacer60, .spacer770 {
  display: block;
  overflow: hidden;
  clear: both;
}
.spacer1    { height:   1px; }
.spacer5    { height:   5px; }
.spacer10   { height:  10px; }
.spacer15   { height:  15px; }
.spacer20   { height:  20px; }
.spacer30   { height:  30px; }
.spacer40   { height:  40px; }
.spacer60   { height:  60px; }
.spacer770   { height:  770px; }

/* and others -------------------------- */
.none {
	display: none;
}
.hidden {
  visibility: hidden;
}
.nomargin {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}


/* clearfix ------------------------ */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	line-height: 0;
	visibility: hidden;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%;}
*+html .clearfix { height: 1%;}
.clearfix { display: block; }
/* clearfix ------------------------ */