@charset "utf-8";

html {
}

body{
	position: relative;
}

body#top {
	background: #231816;
}

body#news {
	background: #231816 url(../images/top/news.png) center 0 no-repeat;
}

body#quiz {
	background: #231816 url(../images/common/bg.gif) 0 0 repeat-x;
}

#wrapper {
	position: relative;
	width: 800px;
	margin: -24px auto 0 auto;
	overflow: hidden;
}

#header {
	width: 100%;
	height: 53px;
	margin-bottom: 15px;
}

#header h1 {
	display: block;
	width: 186px;
	height: 30px;
	margin: 15px auto 0;
}

#header h1 a {
	display: block;
	width: 186px;
	height: 30px;
	background: url(../images/common/logo.gif);
	text-indent: -9999px;
}

#contents {
	overflow: hidden;
}

.baseBox {
	width: 798px;
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
}

.quizArea {
	width: 798px;
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
}

.quizArea p.lead {
	padding: 15px 15px 0 15px;
	font-size: 90%;
}

.quizArea img {
	float: left;
	margin: 20px;
}

.quizText {
	float: left;
	width: 465px;
	padding: 60px 15px 0 0;
	text-align: center;
}

.quizText p {
}

.quizText p strong {
	color: #AA0000;
}

.quizArea .answerText {
	clear: both;
	padding: 30px 10px 0 42px;
}

table tr th {
	padding: 0 15px;
}

table tr td {
	padding: 0 15px 0 0;
	vertical-align: top;
}

.answerText table {
	width: 746px;
	margin-left: -20px;
}

.answerText table tr th {
	width: 30px;
}

.answerText table tr td {
	width: 343px;
	padding: 0 0 10px 0;
}

table.Hantei tr td {
	vertical-align: middle !important;
}

#mailTable th {
	vertical-align: middle;	
}

#mailTable td {
	vertical-align: middle;	
}

.answerBtn {
	height: 58px;
	margin: 15px 0 0;
}

.answerBtn a {
	display: block;
	float: left;
	width: 58px;
	width: 200px;
	height: 58px;
	margin: 0 0 0 0;
	line-height: 58px;
	background: url(../images/quiz/btn.gif) 0 -58px no-repeat;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.answerBtn a:first-child {
	/*margin: 0 5px 0 276px;*/
}

.answerBtn a.current {
	background: url(../images/quiz/btn.gif) 0 0 no-repeat !important;
	color: #fff;
}

.answerBtn a.current:hover {
	color: #fff;
}

#controller {
	width: 758px;
	background: #fff;
	margin: 15px 0 0;
	padding: 10px 20px;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
	overflow: hidden;
}

#controller a {
	padding: 0 10px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

#controller a#prev {
	float: left;
}

#controller a#next {
	float: right;
}

#submit, #submit2, #submit3 {
	width: 778px;
	background: #fff;
	margin: 15px 0 0;
	padding: 10px;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
	overflow: hidden;
}

#submitBtn {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	background: -moz-linear-gradient(top, #8c8c8c, #727272);
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
}

#top #submitBtn{
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 78px;
	left: 20px;
	width: 767px;
/*ie6,ie7*/

	.display: block;
	.height: 52px;
	.background: url(../images/top/start_btn.png) 0 0 no-repeat;
	.margin-left: -10px;

/*ie8*/

	display: block\9;
	height: 52px\9;
	background: url(../images/top/start_btn.png) 0 0 no-repeat\9;
	margin-left: -10px\9;


	-moz-box-shadow: 0 3px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,1);
	
}

#submitBtn4 {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	background: -moz-linear-gradient(top, #d71619, #b02100);
	background: -webkit-gradient(linear, left top, left bottom, from(#d71619), to(#b02100));
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
}

td input {
	border: 1px solid #666;
	border-radius: 3px;
	font-size: 19px;
	line-height: 150%;
}

td select {
	border: 1px solid #666;
	border-radius: 3px;
	font-size: 19px;
	line-height: 150%;
}

.twBtn {
	display: block;
	width: 243px;
	height: 41px;
	background: url(../images/quiz/bg_tw.png) 0 0 no-repeat;
	margin: 0 auto 18px;
	padding-top: 12px;
	text-align: center;
}

#Q2, #Q3, #Q4, #Q5, #Q6, #Q7, #Q8, #Q9, #Q10, #Q11, #Q12, #Q13, #Q14, #Q15, #Q16, #Q17, #Q18, #Q19, #Q20, #Q21, #Q22, #Q23, #Q24, #Q25, #Q26, #Q27, #Q28, #Q29, #Q30, #prev, #submit, #mailForm {
	display: none;
}
.large4 {
  font-size: 40px !important;
}


/*top-----------------------------------------------*/


#top #wrapper {
	background: url(../images/top/bgimage.jpg) 0 0 no-repeat;
	margin: 0 auto;
	height: 957px;	
}

#top h1 {
	background: url(../images/top/h1.jpg) 0 0 no-repeat;
	width: 482px;
	height: 97px;
	margin: 36px auto 0 auto;
	text-indent: -9999px;
}

#top h2 {
	background: url(../images/top/h2.jpg) 0 0 no-repeat;
	width: 519px;
	height: 82px;
	margin: 27px auto 0 auto;
	text-indent: -9999px;
}

#top h5 {
	background: url(../images/top/icon_new.gif) 0 0 no-repeat;
	width: 48px;
	height: 15px;
	margin: 210px auto 0 435px;
	text-indent: -9999px;
}

#serviceBtn {
	display: block;
	width: 324px;
	height: 44px;
	background: url(../images/top/link_service.png) 0 0 no-repeat;
	text-indent: -9999px;
	margin: 5px auto 0 435px;
}

#serviceBtn:active {
	background: url(../images/top/link_service.png) 0 -44px no-repeat;
}

#footer {
	position: absolute;
	bottom: 75px;
	text-align:center;
}

#footer p{
  margin-left:auto;
  margin-right:auto;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 1px;
	margin: 0 auto;
	width: 820px;
}

#top table {
	height: 100px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin: 0 auto;
	display: block;
	width: 80%;
	line-height: 80%;
	margin: 550px auto 0 auto;
}

#top table td {
	color: #FFFFFF;
	font-size: 20px;
	width: 820px;
}

#top table td.tablename {
	text-align:center;	
}

#top table a {
	color: #FFFFFF !important;
}



/*service-----------------------------------------------*/

body#service {
	background: #231816 url(../images/common/bg.gif) 0 0 repeat-x;
}

.serviceArea {
	width: 698px;
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
	padding: 25px 50px 26px 50px;
	margin-bottom: 40px;
}

h2 span#tenpo {
	font-size: 14px;
	color: #ffffff;
	line-height: 26px;
}

.serviceArea table {
	width: 698px;
}

.serviceArea table tr th {
	width: 150px;
	padding: 25px 0 0 0;
	border-bottom: solid 2px #332621;
}

.serviceArea table tr td {
	width: 488px;
	padding: 25px 0 0 0;
	vertical-align: top;
	border-bottom: solid 2px #332621;
}

p.serviceLittleArea {
	width: 644px;
	background: #faf6da;
	border-radius: 6px;
	padding: 30px 30px 30px 24px;
	margin-top: 30px;
}	

a.serviceLink	{
	color: #A00;
}	

#service #submitBtn{
	width: 800px;
	background: -moz-linear-gradient(top, #8c8c8c, #727272);
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	font-size: 20px;
}

