@charset "utf-8";

html {
}

body{
	position: relative;
}

body#news {
	background: #200a07 url(../images/top/news.png) center 0 no-repeat;
}

body#quiz {
	background: #200a07 url(../images/common/bg.gif) 0 0 repeat-x;
}

#wrapper {
	position: relative;
	width: 819px;
	margin: 0 auto;
	overflow: hidden;
	
}

#header {
	width: 100%;
	height: 53px;
	margin-bottom: 15px;
}

#header h1 {
	display: block;
	width: 288px;
	height: 24px;
	margin: 15px auto 0;
}

#header h1 a {
	display: block;
	width: 288px;
	height: 24px;
	background: url(../images/common/logo.gif);
	text-indent: -9999px;
}

#contents {
	overflow: hidden;
}

.baseBox {
	width: 798px;
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
}

.quizArea {
	width: 798px;
	background: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
}

.quizArea img {
	float: left;
	margin: 20px;
}

.quizText {
	float: left;
	width: 465px;
	padding: 60px 15px 0 0;
	text-align: center;
}

.quizText p {
}

.quizArea .answerText {
	clear: both;
	padding: 30px 10px 0 42px;
}

table tr th {
	padding: 0 15px;
}

table tr td {
	padding: 0 15px 0 0;
	vertical-align: top;
}

.answerText table {
	width: 746px;
	margin-left: -20px;
}

.answerText table tr th {
	width: 30px;
}

.answerText table tr td {
	width: 343px;
	padding: 0 0 10px 0;
}

table.Hantei tr td {
	vertical-align: middle !important;
}

#mailTable th {
	vertical-align: middle;	
}

#mailTable td {
	vertical-align: middle;	
}

.answerBtn {
	height: 58px;
	margin: 15px 0 0;
}

.answerBtn a {
	display: block;
	float: left;
	width: 58px;
	width: 200px;
	height: 58px;
	margin: 0 0 0 0;
	line-height: 58px;
	background: url(../images/quiz/btn.gif) 0 -58px no-repeat;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.answerBtn a:first-child {
	/*margin: 0 5px 0 276px;*/
}

.answerBtn a.current {
	background: url(../images/quiz/btn.gif) 0 0 no-repeat !important;
	color: #fff;
}

.answerBtn a.current:hover {
	color: #fff;
}

#controller {
	width: 758px;
	background: #fff;
	margin: 15px 0 0;
	padding: 10px 20px;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
	overflow: hidden;
}

#controller a {
	padding: 0 10px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

#controller a#prev {
	float: left;
}

#controller a#next {
	float: right;
}

#submit, #submit2, #submit3 {
	width: 778px;
	background: #fff;
	margin: 15px 0 0;
	padding: 10px;
	border: 1px solid #b4b4b4;
	border-radius: 6px;
	overflow: hidden;
}

#submitBtn {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	background: -moz-linear-gradient(top, #8c8c8c, #727272);
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#727272));
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
}

#submitBtn4 {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	background: -moz-linear-gradient(top, #d71619, #b02100);
	background: -webkit-gradient(linear, left top, left bottom, from(#d71619), to(#b02100));
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
}

td input {
	border: 1px solid #666;
	border-radius: 3px;
	font-size: 19px;
	line-height: 150%;
}

td select {
	border: 1px solid #666;
	border-radius: 3px;
	font-size: 19px;
	line-height: 150%;
}

.twBtn {
	display: block;
	width: 243px;
	height: 41px;
	background: url(../images/quiz/bg_tw.png) 0 0 no-repeat;
	margin: 0 auto 18px;
	padding-top: 12px;
	text-align: center;
}

#Q2, #Q3, #Q4, #Q5, #Q6, #Q7, #Q8, #Q9, #Q10, #Q11, #Q12, #Q13, #Q14, #Q15, #Q16, #Q17, #Q18, #Q19, #Q20, #Q21, #Q22, #Q23, #Q24, #Q25, #Q26, #Q27, #Q28, #Q29, #Q30, #prev, #submit, #mailForm {
	display: none;
}
.large4 {
  font-size: 40px !important;
}

